html {
    scroll-behavior: smooth;
    background-color: rgb(95, 95, 95);
}

h1 {
    color: rgb(199, 199, 199);
}

p {
    color: rgb(199, 199, 199);
}

ul {
    color: rgb(199, 199, 199);
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

li {
    text-align: left;
}

nav {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1.0s ease;
}   

nav.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    box-shadow: none;
}

.pageContainer {
    display: inline-block;
    background: linear-gradient(to left, rgba(48, 48, 48, 0.5) 50%, rgba(141, 141, 141, 0.8) 50%) right;
    background-size: 200% 100%;
    transition: 0.3s ease-out, font-size 0.5s ease;
    color: rgba(0, 0, 0, 0.8);
    text-decoration-line: none;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    font-size: 1.5rem;
}
.pageContainer:hover {
    display: inline-block;
    color: rgba(0, 0, 0, 0.9);
    padding: 15px;
    background-position: left;
}

.pageContainer:active {
  display: inline-block;
  color: rgba(0, 0, 0, 0.9);
  background: rgba(110, 110, 110, 0.8);
  padding: 18px;
}

.pageContainer:visited {
  background: rgb(163, 163, 163);
}

nav.scrolled .pageContainer {
    font-size: 1rem;
}

.pageChoice {
    margin-top: 0;
    transition: margin-top 0.5s ease;
}

nav.scrolled + .pageChoice {
    margin-top: 60px; 
}

body {
    text-align: center;
}
